# Problem statement

In the face of burgeoning urban populations and evolving socio-economic dynamics, a distinguished group of investors seeks to establish a real estate 
firm in the vibrant city of Paris. They wish to address the pressing issue of affordable housing that has emerged as a critical challenge.
Recognizing the intricacies of the local market, they have engaged Mali Safi and Sons to analyze existing data, draw meaningful insights, and 
guide their strategic decisions. Mali safi and sons has decided to use regression models to understand how different variables affect the real 
estate market and identify trends that the business can take advantage of.

Essentially the real estate company wants:

i. To identify the variables affecting the prices 

ii. To construct a regression model that correlates the property prices with the variables
  
iii. To evaluate the performance of the regression model in identifying the factors affecting property prices.

# Data Exploration

In [2]:
#importing relevant modules
import pandas as pd

In [3]:
#Loading the dataframe
df = pd.read_csv('ParisHousing.csv')
df.head(10)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0
5,39223,36,0,1,17,39489,8,6,2012,0,1,2009,4552,757,0,1,3926647.2
6,58682,10,1,1,99,6450,10,9,1995,1,1,5930,9453,848,0,5,5876376.5
7,86929,100,1,0,11,98155,3,4,2003,1,0,6326,4748,654,0,10,8696869.3
8,51522,3,0,0,61,9047,8,3,2012,1,1,632,5792,807,1,5,5154055.2
9,39686,42,0,0,15,71019,5,8,2021,1,1,5198,5342,591,1,3,3970892.1